@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #010101;
  --white: #ffffff;
  --purple: #ad5389;
}

body {
  background: var(--black);
  color: var(--white);
  font-family: var(--font-comfortaa), sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

@layer utilities {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

.purple-gradient-leftBottom {
  background-image: linear-gradient(to left bottom, #010101, #010101, #010101, #010101, #010101, #06040d, #0c0816, #110b1c, #18102a, #221339, #2e1346, #3c1053);
}

.purple-gradient-rightBottom {
  background-image: linear-gradient(to right bottom, #010101, #010101, #010101, #010101, #010101, #06040d, #0c0816, #110b1c, #18102a, #221339, #2e1346, #3c1053);
}

.purple-gradient-leftTop {
  background-image: linear-gradient(to left top, #010101, #010101, #010101, #010101, #010101, #06040d, #0c0816, #110b1c, #18102a, #221339, #2e1346, #3c1053);
}

.purple-gradient-rightTop {
  background-image: linear-gradient(to right top, #010101, #010101, #010101, #010101, #010101, #06040d, #0c0816, #110b1c, #18102a, #221339, #2e1346, #3c1053);
}

.primary-btn {
  @apply leading-4 text-base text-white px-6 py-3 2xl:px-8 2xl:py-4 rounded-full bg-gradient-to-r from-[#3c1053] to-[#ad5389] transition-all duration-500 ease-in-out hover:from-[#ad5389] hover:to-[#3c1053] hover:scale-95 font-normal ;
}

h1 {
  font-size: clamp(2.5rem, 5.8vw, 4.625rem); /* 74px */
  line-height: clamp(2.5rem, 5.8vw, 4.625rem); /* 74px */
  font-weight: 600;
}

h2 {
  font-size: clamp(2.625rem, 6vw, 3.875rem); /* 62px */
  line-height: clamp(2.625rem, 6vw, 3.875rem); /* 62px */
}

h3 {
  font-size: clamp(2rem, 5vw, 3rem)  ; /* 48px */
  line-height: clamp(2rem, 5vw, 3rem)  ; /* 48px */
}

h4 {
  font-size: clamp(1.4rem, 2.5vw, 1.625rem); /* 26px */
  line-height: clamp(2rem, 4vw, 2.25rem); /* 36px */
}

h5 {
  font-size: clamp(1.3125rem, 2vw, 1.5rem);      /* 21px to 24px */
  line-height: clamp(1.875rem, 3.5vw, 2rem);     /* 30px to 32px */
}

.p1 {
  font-size: clamp(1.125rem, 2vw, 1.5rem); /* 24px */
  line-height: clamp(1.5rem, 2.6vw, 1.9375rem); /* 31px */
}

.p2 {
  font-size: clamp(1rem, 1.5vw, 1.125rem); /* 18px */
  line-height: clamp(1.5rem, 3.5vw, 1.75rem); /* 28px */
} 

.p3 {
  font-size: clamp(0.9375rem, 1.2vw, 1rem);  /* 16px */
  line-height: clamp(1.5rem, 3vw, 1.625rem);  /* 26px */
}


.inputStyle {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid var(--purple);
  padding: .7rem;
  outline: none;
  @apply hover:pl-12 placeholder:text-gray hover:placeholder:text-white transition-all duration-300 ease-in-out
}